/* estilos gerais */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9fafb; /* Fundo claro e neutro */
  color: #333; /* Texto padrão */
}

h2,
h3 {
  color: #4a5568; /* Cinza escuro moderno */
}

button {
  background-color: #4a90e2; /* Azul moderno */
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #2b6cb0; /* Azul mais escuro */
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  background-color: #edf2f7; /* Fundo cinza claro */
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #4a90e2; /* Azul moderno */
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2); /* Sombra azul */
}

label {
  font-weight: bold;
  color: #4a5568; /* Cinza escuro */
}

/* Estilos do container principal */
.login-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  background-color: #ffffff;
  padding: 30px; /* Espaçamento uniforme */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  box-sizing: border-box; /* Inclui padding no tamanho total */
}

.login-container h2 {
  color: #4a5568; /* Cinza escuro */
  font-size: 30px;
  margin-bottom: 40px;
}

/* Inputs de texto */
.login-form input {
  width: calc(100% - 20px); /* Para garantir alinhamento uniforme */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 5px auto; /* Centraliza os inputs */
}

/* Ajuste ao focar no input */
.login-form input:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}

/* Botão */
button {
  margin-top: 30px;
  width: calc(100% - 20px); /* Uniformiza com os inputs */
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4a90e2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357ab8;
}

/* estilos do cartão de contato */
.contact-card {
  background-color: #ffffff;
  padding: 20px;
  padding-top: 1px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contact-card h3 {
  margin-bottom: 15px;
  color: #2d3748; /* Cinza escuro */
}

.contact-card p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #4a5568; /* Cinza moderado */
}

/* estilos dos botões de resultado */
.result-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  margin: 0 -5px;
  padding: 0;
}

.result-buttons button {
  flex: 1 1 calc(33% - 10px);
  margin: 5px;
  font-size: 1.18em;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #4a90e2;
  transition: background-color 0.3s ease;
}

.result-buttons button:hover {
  background-color: #2b6cb0; /* Azul mais escuro */
}

/* estilos do modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  padding-right: 22px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal-content input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin: 5px auto;
  margin-bottom: 15px;
}

.modal-content select {
  margin-bottom: 15px;
}

.modal-content textarea {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin: 5px auto;
  margin-bottom: 15px;
}

.agendar-button {
  background-color: #28a745; /* Verde */
}

.agendar-button:hover {
  background-color: #218838; /* Verde mais escuro no hover */
}

.cancelar-button {
  background-color: #dc3545; /* Vermelho */
}

.cancelar-button:hover {
  background-color: #c82333; /* Vermelho mais escuro no hover */
}

.modal-content button {
  margin-top: 5px;
  margin-left: 1px;
  width: 100%;
  padding: 12px;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content h3 {
  margin-top: 3px;
  margin-bottom: 30px;
  color: #2d3748;
  font-size: 25px;
}
